@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
  overflow: hidden;
  font-family: 'Poppins',sans-serif;
  transition: all .5s ease;
}

/* Toggle icon Styles */
/* .bi-toggle-on{
  font-size: 30px;
  padding-right: 20px;
  color: rgb(0, 0, 0);
  cursor: pointer;
} */